# Backend (Database PostgreSQL trên Supabase)
DB_URL=jdbc:postgresql://<HOST_SUPABASE>:6543/postgres
DB_USERNAME=postgres
DB_PASSWORD=your_supabase_password

# Bảo mật JWT
JWT_SECRET=your_jwt_secret_key_random_long_string

# Cấu hình gửi mail (dùng App Password của Gmail)
MAIL_USERNAME=your_gmail@gmail.com
MAIL_PASSWORD=your_gmail_app_password

# Cấu hình Cloudinary (Dùng để upload ảnh/audio)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Frontend (Trỏ tới Backend)
VITE_API_URL=http://localhost:8080/api